<form class="" action="/adjustment/{{student.id}}" method="post">
    <h2>Make Adjustment</h2>
    
    <div>

    <label for="adjustment" class="">
        Adjustment:
     </label>
    <input type="number" name="adjustment" placeholder="33">
  </div>
    
    <div>
    <label for="reason" class="reason">
        Reason:
     </label>
    <input type="text" name="reason" placeholder="{{student.name}} wasn't annoying">
    </div>

  <div>
    <input class="" type="submit" name="" value="Submit">
  </div>
</form>