<div class=""container-md mb-5 text-center"">
  <div class=""container-md mb-5 text-center"">
    <h1>{{adjustment}}</h1>
  </div>
  <div class="">
    <h2>{{reason}}</h2>
  </div>
  <div class="">
    <h3>{{assigner}}</h3>
  </div>
</div>