<style>
  tr:hover{
    cursor:pointer;
    background-color: rgb(194, 194, 194);
  }
</style>
<tr onclick="location.href='/student/{{id}}'">
  <td scope="col"> <h2>{{rank @index}}</h2></td>
  <td scope="col"> <h3>{{name}}</h3></td>
  <td scope="col"> <h2>{{points}}</h2></td>
</tr>
   