<!DOCTYPE html>
<html lang="en">

  <head>
    <title>tier-ify</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container-fluid bg-success">
        <a class="navbar-brand" href="#"><em>tier-ify</em></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" aria-current="page" href="./landing.html">Home</a>
            <a class="nav-link" href="./store.html">Store</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container pt-4">
      <h3 class="mb-5">Product Listing</h3>

      {{#each products}}

         <h5>{{product_name}}</h5>
            <a href="./store.html" target="_blank"><img class="mb-4 img-fluid rounded" src="../images/5-EDA.jpg" alt="for five EDA points"></a>

        {{!-- <div class="row">
          <div class="col-lg">
            
         

            <h5>Interview Practice With Sarah E.</h5>
            <a href="./store.html" target="_blank"><img class="mb-4 img-fluid rounded" src="../images/10-EDA.jpg" alt="for ten EDA points"></a>

          </div>

          <div class="row">
            <div class="col-lg">
      
              <h5>One Print With JV's 3D Printer</h5>
              <a href="./store.html" target="_blank"><img class="mb-4 img-fluid rounded" src="../images/25-EDA.jpg" alt="for twenty-five EDA points"></a>
    
              <h5>Dinner Date With JV</h5>
              <a  href="./store.html" target="_blank"><img class="mb-4 img-fluid rounded" src="../images/50-EDA.jpg" alt="for fifty EDA points"></a>

            </div>  --}}

      {{/each}}
          <div class="col-lg">
            <h3 class="mb-5">LeaderBoard</h3>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Name" aria-label="Name">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="EDA Points" aria-label="EDA Points">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Name" aria-label="Name">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="EDA Points" aria-label="EDA Points">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Name" aria-label="Name">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="EDA Points" aria-label="EDA Points">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Name" aria-label="Name">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="EDA Points" aria-label="EDA Points">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Name" aria-label="Name">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="EDA Points" aria-label="EDA Points">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Name" aria-label="Name">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="EDA Points" aria-label="EDA Points">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Name" aria-label="Name">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="EDA Points" aria-label="EDA Points">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Name" aria-label="Name">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="EDA Points" aria-label="EDA Points">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Name" aria-label="Name">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="EDA Points" aria-label="EDA Points">
              </div>
            </div>
          </div>
        </div>
      </div>
    
    <hr>
    <div class="row py-4 text-muted">
      <div class="col-md">
        <p><strong>About Teamy Weamy</strong></p>
        <p>The team consists of:</p>
        <p>Dainy(The Zebra), Sam(The Retrospective Facilitator), Nicole(The Vibes Watcher), Caleb(The GIT Guru)</p>
      </div>
      <div class="col-md">
        <p><strong>Update my EDA points</strong></p>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Points">
          <span class="input-group-btn">
            <button class="btn btn-primary bg-success" type="button"><a href="./leaderboard.html" target="_blank">Level-Up</a></button>
          </span>
        </div>
      </div>
    </div>
    <hr>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>

</html>