<div class="container pt-4">
  <h3 class="mb-5">Product Listing</h3>
  {{#each products}}

    <h5>{{product_name}}</h5>
    <a href="./store.html" target="_blank"><img class="mb-4 img-fluid rounded" src="/images/5-EDA.jpg" alt="for five EDA points"></a>

  {{/each}}

  <div class="col-lg">
    <h3 class="mb-5">LeaderBoard</h3>
    {{#each sorted}}
      {{>lb-item}}
    {{/each}}
  </div>
</div>

