<div class="container-md mb-5 text-center">
  <div class=""container-md mb-5 text-center"">
    <div class="h3">{{name}}</div>
        <p class="h5">User id: {{id}}</p>
    <div class="h3">Points: <b class="h5">{{points}}</b></div>
  </div>
  <div>
    {{#each adjustments}}
      {{>adjustment}}
    {{/each}}
        
    {{>updateForm}} 
  </div>
</div>